#about_us {
    text-align: center;
    position: relative;
}
#about_us .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px #ccc;
}
    #about_us h2 {
        margin: 0;
        font-size: 40px;
        line-height: 50px;
        color: #212529;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
    }
    #about_us p {
        margin: 30px 0;
        font-size: 18px;
        line-height: 25px;
        color: #6f6f6f;
        font-family: 'Roboto', sans-serif;
    }
        #about_us .icon .fa {
            color: rgb(131,64,255);
            color: linear-gradient(0deg, rgba(131,64,255,1) 15%, rgba(89,0,255,1) 65%);
            font-size: 44px;
            width: 44px;
            height: 44px;
        }
        #about_us .block {
            gap: 40px 0;
        }
            #about_us .content .content-title {
                margin: 20px 0;
                font-size: 24px;
                font-weight: 600;
                color: #2f323a;
                font-family: 'Roboto', sans-serif;
            }
            #about_us .content .content-description {
                margin: 20px 0 40px;
                font-size: 18px;
                line-height: 25px;
                color: #6f6f6f;
                font-family: 'Roboto', sans-serif;
            }

@media (min-width: 766px) {
    #about_us {
        text-align: left;
        padding: 130px 0;
    }
    #about_us .about{
        gap: 50px;
    }
        #about_us .about-structure{
            position: relative;
            grid-column: span 6;
        }
        #about_us .about-structure::before{
            content: '';
            width: 50px;
            height: 5px;
            background: rgb(131,64,255);
            background: linear-gradient(90deg, rgba(131,64,255,1) 15%, rgba(89,0,255,1) 65%);
            position: absolute;
            top: -22px
        }
            #about_us .about-structure h2{
                margin: 0px 0 22px;
            }
            #about_us .about-structure p{
                margin: 0 0 40px;
            }
        #about_us .about-image {
            grid-column: span 6;
        }
            #about_us .block-segment {
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-template-areas: 
                "icon content";
                align-items: center;
                gap: 0px 5px;
            }
                #about_us .block-segment .icon {
                    grid-area: icon;
                    text-align: center;
                }
                #about_us .block-segment .content {
                    grid-area: content;
                }
                    #about_us .content .content-description {
                        width: 80%;
                    }
}