.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #5900ff;
    color: #f5f5f5;
    cursor: pointer;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}
.button:hover {
    background: #8340ff;
    background: -moz-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
    background: -webkit-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
    background: linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8340ff",endColorstr="#5900ff",GradientType=1);
}