#contact .contacts {
    position: relative;
}
#contact .contacts::before {
    content: '';
    width: 50px;
    height: 5px;
    background: rgb(131,64,255);
    background: linear-gradient(90deg, rgba(131,64,255,1) 15%, rgba(89,0,255,1) 65%);
    position: absolute;
    top: -22px
}
    #contact .contacts-content {

    }
        #contact .contacts-content .contacts-title {
            margin: 0;
            font-size: 40px;
            line-height: 50px;
            color: #2f323a;;
            text-transform: capitalize;
            font-family: 'Roboto', sans-serif;
        }
        #contact .contacts-content .contacts-description {
            margin: 30px 0;
            font-size: 18px;
            line-height: 25px;
            color: #6f6f6f;
            font-family: 'Roboto', sans-serif;
        }
        #contact .contacts-content .action-progress {
            display: inline-block;
            width: 100%;
            
        }
            #contact .contacts-content .action-progress > .steps {
                display: inline-block;
                width: 100%;
            }
                #contact .contacts-content .action-progress > .steps > .step {
                    width: 33%;
                    float: left;
                    text-align: center;
                    margin-bottom: 20px;
                }
                #contact .contacts-content .action-progress > .steps > .step > .number {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: white;
                    border-radius: 50%;
                    background-color: #5900ff;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 10px;
                    font-weight: 500;
                }#contact .contacts-content .action-progress > .steps > .step > .step-name {
                    display: inline-block;
                    width: 100%;
                    color: #2f323a;;
                    text-transform: capitalize;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                }
            #contact .contacts-content .action-progress > .progress-bar {
            }
    #contact .contacts-video video {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }