.bg-light-gray{
    background-color: #f5f5f5;
}
.bg-dark-gray{
    background-color: #eeeeee;
}
.bg-black{
    background-color: #111111;
    color: #fff;
}
.bg-gray-grad {
    background-image: linear-gradient(#eeee, #f5f5f5);
}
#contact .contacts-content .button {
    margin-top: 10px;
}
    #contact .contacts-content .button i {
        font-size: 18px;
        line-height: 26px;
    }