#main_footer * {
    font-family: Poppins, sans-serif;
}
#main_footer .fa {
    font-family: 'FontAwesome';
}
    #main_footer .footer {
        
    }
        #main_footer .company {
            text-align: center;
            padding: 16px;
        }
            #main_footer .lever {
                color: #8340ff;
                color: linear-gradient(45deg, var(#8340ff) 15%, var(#5900ff) 65%);
                text-decoration: none;
                font-size: 35px;
                font-weight: 700;
                line-height: 44px;
            }
            #main_footer .company p {
                margin-top: 20px;
                text-align: center;
                color: #8E8E8E;
                font-size: 16px;
                line-height: 30px;

            }
            #main_footer .social {
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
            }
                #main_footer .social a {
                    color: #8340ff;
                    color: linear-gradient(45deg, var(#8340ff) 15%, var(#5900ff) 65%);
                    line-height: 20px;
                    font-size: 24px;
                    width: 70px;
                    height: 26px;
                    padding: 0 12px;
                }
                #main_footer .social a:first-of-type {
                    padding: 0 12px 0 0;
                }
            #main_footer .get-in-touch {
            text-align: center;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            padding: 16px;
        }
            #main_footer .get-in-touch h2 {
                text-align: center;
                font-size: 24px;
                margin-bottom: 12px;
            }
            #main_footer .get-in-touch a {
                text-align: center;
                padding: 8px;
                text-decoration: none;
                color: #8E8E8E;
            }
                #main_footer .get-in-touch a:hover {
                    color: #5900ff;
                }
                #main_footer .get-in-touch > a > .fa {
                    margin-right: 5px;
                    margin-top: 3px;
                    padding: 0 5px;
                }
            #main_footer .get-in-touch >.send-a-message-button {
                text-align: center;
                grid-column: span 12;
                font-size: 16px;
                line-height: 24px;
                padding: 9px 16px;
                font-weight: 400;
                width: fit-content;
                margin: auto;
                margin-bottom: 20px;
                margin-top: 20px;
            }
                #main_footer .get-in-touch >.send-a-message-button > .fa-commenting-o {
                    padding: 3px 5px;
                }
        #main_footer .our-services {
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            text-transform: capitalize;
            padding: 16px;
        }
            #main_footer .our-services h2 {
                margin-bottom: 20px;
            }
            #main_footer .our-services a {
                grid-column: span 12;
                text-align: center;
                text-decoration: none;
                padding: 8px;
                color: #8E8E8E;
            }
                #main_footer .our-services a:hover {
                    color: #5900ff;
                }
        #main_footer .popular-tags {
            text-align: center;
            margin-bottom: 30px;
            text-transform: capitalize;
            padding: 16px;
        }
            #main_footer .popular-tags h2 {
                text-align: center;
                margin-bottom: 20px;
            }
            #main_footer .popular-tags a {
                display: inline-block;
                border: 1px solid #4D4D4D;
                padding: 4px 15px;
                text-decoration: none;
                color: #8E8E8E;
                margin-left: 3px;
                margin-bottom: 4px;
                margin-top: 5px;
            }
                #main_footer .popular-tags a:hover {
                    color: #5900ff;
                    border: 1px solid #5900ff;
                }
#rights {
    background-color:#0D0D0D;
    text-align: center;
    color: #8E8E8E; 
    font-family: Poppins, sans-serif;
    font-size: 15px;
    padding: 10px;
}
    #rights .left {
        font-family: Poppins, sans-serif;
        padding: 16px 20px;
        }
    #rights .right {
        padding: 16px 20px;
        font-family: Poppins, sans-serif;
        }
        #rights .right a {
            text-decoration: none;
            color: #5900ff;
            font-size: 18px;
            line-height: 24px;
        }

@media (min-width: 768px) {
    #rights .left {
        width: 50%;
        float: left;
    }
    #rights .right {
        width: 50%;
        float: left;
}

@media (min-width: 992px) {
    #main_footer .company {
        text-align: left;
        grid-column: span 3;
    }
        #main_footer .lever {
            text-align: left;
        }
        #main_footer .company p {
            text-align: left;
        }
        #main_footer .social {
            text-align: left;
        }
            #main_footer .social a {

            }
    #main_footer .get-in-touch {
        grid-column: span 3;
    }
    #main_footer .our-services {
        grid-column: span 3;
    }
    #main_footer .popular-tags {
        grid-column: span 3;
    }
    #main_footer .get-in-touch {
        text-align: left;
    }
        #main_footer .get-in-touch h2 {
            text-align: left;
        }
        #main_footer .get-in-touch a {
            text-align: left;
            padding: 8px 0px 8px 0;
        }
        #main_footer .get-in-touch >.send-a-message-button {
            margin-left: 0px;
        }
    #main_footer .our-services {
        text-align: left;
    }
        #main_footer .our-services h2 {
            text-align: left;
        }
        #main_footer .our-services a {
            text-align: left;
            padding: 8px 8px 8px 0;
        }
    #main_footer .popular-tags {
        text-align: left;
    }
        #main_footer .popular-tags h2 {
            text-align: left;
        }
        #main_footer .popular-tags a {
            text-align: left;
            margin-top: 5px;
        }
}
}