/* @font-face { font-family: Poppins; font-weight: 400; src: url('../fonts/Poppins-Regular.ttf'); }
@font-face { font-family: Poppins; font-weight: 500; src: url('../fonts/Poppins-Medium.ttf'); }
@font-face { font-family: Poppins; font-weight: 600; src: url('../fonts/Poppins-SemiBold.ttf'); }
@font-face { font-family: Poppins; font-weight: 700; src: url('../fonts/Poppins-Bold.ttf'); } */
#main_header {
    padding: 0;
    
}
#main_header .header-line {
    height: 44px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 121px 1fr;
    grid-template-areas: "logo navigation";
}
        /* header logo */
        #main_header .header-line > .logo {
            display: flex;
            align-items: center;
            grid-area: logo;
            font-weight: 600;
            vertical-align: baseline;
        }
            #main_header .header-line > .logo  .name {
                display: inline-block;
                float: left;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                line-height: 44px;
                color: #2F323A;
                vertical-align: baseline;

            }
            #main_header .header-line > .logo  .dot {
                display: inline-block;
                float: right;
                font-family: Poppins, sans-serif;
                font-size: 33px;
                line-height: 38px;
                color: #5900FF;
                vertical-align: baseline;

            }

        /* header bar left side with links & navigation */
        #main_header .header-line > .links{
            grid-area: navigation;
            overflow: visible;
        }
        #main_header .header-line > .links > .go-right{
            float: right;
        }
           
        /* all icons (which are as links */
        #main_header .header-line a {
            text-decoration: none;
            color: #333;
            padding: 10px 0;
            font-size: 20px;
            line-height: 22px;
        }
        
    
    /* navigation tab with dropdowns */
    #main_header .links > .navtab {
        display: none;
        padding: 10px 0;
    }
        #main_header .navtab > .menu-element {
            display: inline-block;
            font-family: Poppins, sans-serif;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 0 16px;
            cursor: pointer;
        }
            #main_header .navtab > .menu-element:hover {
                color: #6819fd;
            }
            #main_header .navtab > .menu-element > i {
                font-size: 23px;
                line-height: 24px;
            }
        /* search and social icons */
    #main_header .links > .icons {
        display: inline-block;
        text-align: center;
    }
        #main_header .icons > a {
            display: inline-block;
            width: 48px;
            padding: 11px 0;
            font-size: 19px;
        }
        #main_header .links > .icons > a:hover {
            color: #6819fd;
        }
        #main_header .icons > a.hidden {
            display: none;
        }
    
    /* menu button */
    #main_header .links > .menu-button {
        display: inline-block;
        width: 52px;
        height: 44px;
        position: relative;
        cursor: pointer;
    }
        #main_header .menu-button > .menu-line {
            display: inline-block;
            width: 20px;
            height: 2px;
            border-radius: 1px;
            background-color: #444;
            position: absolute;
            left: 50%;
            transform-origin: center;
        }
            #main_header .menu-button:hover > .menu-line {
                background-color: #6819fd;
            }
            #main_header .menu-button > .menu-line.line1 {
                top: 14px;
                transform: translate(-50%);
            }
            #main_header .menu-button > .menu-line.line2 {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            #main_header .menu-button > .menu-line.line3 {
                bottom: 14px;
                transform: translate(-50%);
            }
        /* Header button "BUY NOW" */
    #main_header .links > .header-button {
        display: inline-block;
        background-color: #5900ff;
        color: #f5f5f5;
        font-size: 16px;
        line-height: 16px;
        padding: 5px 10px;
        margin: 9px 0;
        margin-left: 10px;
        font-weight: 400;
    }
        #main_header .header-button > .icon {
            display: inline-block;
            color: inherit;
        }
        #main_header .header-button > .hidden {
            display: none;
            text-transform: uppercase;
            margin-left: 4px;
        }
    
@media (min-width: 768px) {
    #main_header .links > .header-button {
        display: inline-block;
        background-color: #5900ff;
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 22px;
        padding: 11px 22px;
        margin: 0;
        margin-left: 10px;
        font-weight: 400;
    }
        #main_header .links > .header-button > .hidden {
            display: inline-block;
        }
        #main_header .header-button > .icon {
            display: inline-block;
            color: inherit;
            margin: 3px 0;
        }
}
@media (min-width: 1200px) {
    #main_header .links > .navtab {
        display: inline-block;
    }
    #main_header .links > .icons > a.hidden {
        display: inline-block;
    }
    #main_header .links > .menu-button {
        display: none;
    }
    
}