#main_video {
    background-color: chartreuse;
    width: 1000px;
    margin: 0 calc(50% - 500px);


}
.video-header {
    width: 1000px;
    text-align: center;

    margin-bottom: 50px;


}

.video-header > h1 {
    font-size: 50px;
    background-color: coral;
    margin: 0 25px 30px;
    width: calc(100% - 50px)
}

.video-header > p {
    background-color: darkgray;
    margin: 0 200px;
    padding: 0px 10px;
    width: calc(100% - 400px);
}

.Vpicture {
    background-image: url('../img/news-4.jpg');
    background-color: darkkhaki;
    background-repeat: no-repeat;
    width: calc(100% - 200px); 
    height: 450px; 
    margin: 0 100px;
}

.playB {
    position: relative;
    border-style: solid;

    border-color: firebrick;
    border-radius: 10px;
    left: 350px;
    top: 150px;
    width: 100px;
    height: 100px;
}
