#main_video >.row > div {
    margin-top: 0px;
}

#main_video  h2 {
    text-align: center;
    font-size: 50px;
    width: calc(100% - 30px);
    margin: 0 15px 25px;
    padding: 0 50px 0;
}

#main_video p {

    text-align: center;
    width: calc(100% - 30px);
    margin: 0 15px ;
}


#videolink {
    width: 100%;  
    position: relative; 
}
#videolink > img {

    width: calc(100% - 30px);
    margin: 60px 15px 0;

}

#buton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    
}


#buton > i {
    font-size: 15vw;
    color: #8340ff;
    width: 100%;
    transition: transform .5s; 
}


#videolink:hover > img {
    opacity: 0.5;
    transition: .5s;
    
  
}

#videolink:hover> #buton >i {
    transform: scale(1.2); 
}

/* .container .vertical-dash {
    display: inline-block;
    width: 5px;
    height: 100px;
    position: absolute;
    left: calc(50% - 2.5px);
    bottom: -50px;
    z-index: 10;
} */

/* -------------------------------------------------------------------- */

#player {
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    width: 100vw;
    height: 100vh;

}

#player > iframe {
    /* display: none; */
    width: 100%; 
    height: 80vh;
    position: relative;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#videocont >  button {
    position: relative;
    float: right;
    background-color:black;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    cursor: pointer;
    padding: 3vh;
  
}

@media (min-width: 480px){

    #main_video  h2 {
        color:black;
        text-align: center;
        font-family: 'Roboto', sans-serif
    }

    #main_video p {
        width: calc(100% - 30px);
        margin: 0 15px;
        font-family: 'Roboto', sans-serif;
        color:rgb(111, 111, 111);
        font-size: 18px;

    }
    #videolink > img {
        width: calc(100% - 30px);
        margin: 0px 15px 0;
    
    }
 
}

@media (min-width: 768px){

    #main_video  h2 {
        text-align: center;
        margin-bottom: 26px;
    }

    #main_video p {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
    #videolink > img {
        width: calc(100% - 30px);
        margin: 48px 15px 0;
    
    }
}
