@import './reset.css';
@import './layout.css';

@import './button.css';
@import './section-center-dash.css';
@import './form.css';
@import './font-awesome.min.css';
@import './light-box.css';

@import './header.css';
@import './hero.css';
@import './features.css';
@import './about.css';
@import './main-video.css';
@import './skills.css';
@import './services.css';
@import './portfolio.css';
@import './testimonials.css';
@import './contact.css';
@import './footer.css';
@import './back-to-top.css';
@import './hidden-menu.css';

@import './custom.css';