
#main_video  h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

#main_video p {

    text-align: center;
    width: calc(100% - 100px);
    margin: 0 50px;
}

#main_video >.row > a {
    margin-top: 50px;

}

#videolink {
    width: 100%;  
    position: relative; 
}
#videolink > img {

    width: calc(100% - 50px);
    margin: 0 25px;
    opacity: 1.0;

}


#videolink > img:hover {
    opacity: 0.5;


}


#buton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
 
    /* width: calc(100%/5); */
    
}


#buton > i {
    font-size: 15vw;
    color: dodgerblue;
    width: 100%;
    transition: transform .5s; 
}

#buton > i:hover {
        transform: scale(1.2); 
}
/* #frame {
    width: 30px;
    height: 30px;
} */

/* .col-12 .Vpicture {
    background-color: yellow;
    height: 200px;
    background-image: url('../img/news-4.jpg');
    background-repeat: no-repeat;
    width: calc(100% - 50px); 
    margin: 0 25px;
    vertical-align: middle;
    background-size: 100% ;

} */

















/* .video-header {
    grid-area: hd;

}

.video-body {
    grid-area: bd;
} */



    /* grid-template-columns: 500px 500px 50px 50px; */
    /* grid-template-rows: auto; */
    /* grid-template-areas: 
        "hd hd hd hd"
        "bd bd . bd"
        "bd bd bd bd"; */
      
}

/* .col-1 {
    grid-area: header;
  }
  .col-2 {
    grid-area: main;
  }
  .col-3 {
    grid-area: sidebar;
  }
  .col-4 {
    grid-area: footer;
  }

.video-header  {
        grid-area: ;
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: auto;
        grid-template-areas: 
          "header header header header"
          "main main . sidebar"
          "footer footer footer footer";
      }

} */

/* .video-header > h1 {
    width: 100%;
    font-size: 50px;
    background-color: coral;
    margin: 0 25px 30px;
    width: calc(100% - 50px)
} */



/* .video-header > p {
    background-color: darkgray;
    margin: 0 200px;
    padding: 0px 10px;
    width: calc(100% - 400px);
}

.Vpicture {
    background-image: url('../img/news-4.jpg');
    background-color: darkkhaki;
    background-repeat: no-repeat;
    width: calc(100% - 200px); 
    height: 450px; 
    margin: 0 100px;
}

.playB {
    position: relative;
    border-style: solid;

    border-color: firebrick;
    border-radius: 10px;
    left: 350px;
    top: 150px;
    width: 100px;
    height: 100px;
} */
