#testimonials * {
    font-family: 'Poppins', sans-serif;
}
#testimonials .fa {
    font-family: 'FontAwesome';
}
#testimonials {
    padding: 130px 0;
}
    /* intro of testimonials section */
    #testimonials .intro {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
        #testimonials .intro > h2 {
            font-size: 48px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 24px;
        }
        #testimonials .intro > p {
            font-size: 16px;
            line-height: 24px;
            color: #6f6f6f;
            max-width: 800px;
            align-self: center;
        }

    /* carousel part of testimonials */
    #testimonials .testimonials {
        grid-column: 2 / 3;
        width: 100%;
        overflow: hidden;
    }
        #testimonials .testimonials > .overflow-holder {
            display: flex;
            width: 100%;
            flex-directioble;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: 10px;
        }
            #testimonials .overflow-holder > .testimonial {
                margin: 10px 0 0;
                flex-shrink: 0;
                padding: 5px 10px;
                /* margin-top: 10px; */
                
            }
                #testimonials .testimonial > .card {
                    padding: 30px 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    box-shadow: 0 0 15px #0000001a;
                    min-height: max-content;
                    transition: transform 0.8s;
                    }
                    #testimonials .testimonial > .card:hover {
                        transform: translate(0, -2%);
                        color: #fff;
                        background: #8340ff;
                        background: -moz-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                        background: -webkit-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                        background: linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8340ff",endColorstr="#5900ff",GradientType=1);
                    }
                    #testimonials .testimonial > .card:hover p {
                        color: #fff;
                    }
                    #testimonials .testimonial > .card:hover .fa {
                        color: #fff;
                    }
                    #testimonials .card > .person {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        overflow: hidden;
                        align-self: center;
                        margin-bottom: 24px;
                    }
                        #testimonials .card > .person > img {
                            width: 100%;
                            height: 100%;
                        }
                    #testimonials .card > h4 {
                        margin: 16px 0;
                        font-size: 24px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    #testimonials .card > p {
                        height: 75px;
                        margin-bottom: 24px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #6f6f6f;
                    }
                    #testimonials .card > .rating {
                        margin-top: 8px;
                    }
                        #testimonials .card > .rating > .fa {
                            margin: 8px 0;
                            font-size: 27px;
                            width: 38px;
                            color: #5900ff;
                        }
        #testimonials .testimonials > .navbar {
            margin-top: 35px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            #testimonials .navbar > .nav-line {
                background-color: #d3d3d3;
                width: 50px;
                height: 5px;
                margin: 5px 10px;
                cursor: pointer;
            }
                #testimonials .navbar > .nav-line:hover {
                    background-color: #6f6f6f;
                }
                #testimonials .navbar > .nav-line:first-child {
                    background: #8340ff;
                    background: -moz-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                    background: -webkit-linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                    background: linear-gradient(45deg, #8340ff 15%, #5900ff 65%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8340ff",endColorstr="#5900ff",GradientType=1);
                }


@media (max-width: 420px) {
    #testimonials .intro > h2 {
        font-size: 35px;
    }
}
@media (max-width: 380px) {
    #testimonials .card > p {
        height: unset;
    }
}
@media (max-width: 330px) {
    #testimonials .intro > h2 {
        font-size: 30px;
    }
}